.person {
  background: #f2f2f2;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px -5px #000;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.field {
  width: 100%;
  padding: 6px;
  font-size: 1.4em;
  margin-bottom: 20px;
}
