* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 800px;
  margin-inline: auto;
  padding: 20px 0;
}
.main-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.btn {
  display: inline-flex;
  padding: 10px 30px;
  background: #444;
  color: white;
  border: none;
  font-size: 1.2em;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
